@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --fonte01: 'Kranky', cursive;
  --fonte02: 'Roboto', sans-serif;

  --cor01: #FFFFA0;
  --cor02: #F09EB2;
  --cor03: #C2E7D8;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}